大二部分/SaxJaxp_demo/NewXMLSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/NewXMLSchema" xmlns:tns="http://www.example.org/NewXMLSchema" elementFormDefault="qualified">
<element name="person">
     <complexType>
         <sequence>
              <element name="name" type="string" ></element>
              <element name="age" type="int"></element>
         </sequence>
     </complexType>
</element>
</schema>
<!--all 只能出现一次       choice 只能选择一个    maxOccurs="unbounded" 元素出现次数不限-->
